<div class="container">
  <h1>To-do List:</h1>

  <% @tasks.each do |task| %>
  <p class = "tasks">
    <input id="radio" type='checkbox' <%= "checked" if task.completed %>>
    <%= link_to(task.title, task_path(task)) %>
  </p>
  <% end %>

  <p class="btn" id= "newtask"><%= link_to("+ Add a new task", new_task_path) %></p>
  <i class='fas fa-check-square'></i>
</div>
